* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --btn-gp: #EEEBE4;
    --btn: #ffffff;
}

body {
    font-family: "Inter", sans-serif;
}

.section-inicio {
    padding: 96px 0;

    max-width: 1600px;
    margin: 0 auto;

}

.section-inicio .span-colecao {
    font-size: 12px;
    display: flex;
    margin-bottom: 10px;
}

.section-inicio .title-inicio {
    padding-bottom: 12px;
    font-size: 38px;
}

.section-inicio .paragrafo-inicio {
    max-width: 400px;
    padding-bottom: 48px;
    font-size: 16px;
}

.container-buttom {
    display: flex;
    gap: 8px;
}

.container-buttom .button-inicio {
    background-color: var(--btn-gp);
    border-radius: 33px;
    width: auto;
    height: 40px;
    padding: 0 16px;

    border: unset;
}

.container-buttom .button-inicio:nth-child(1) {
    background-color: black !important;
    color: aliceblue !important;
}

.products {
    display: flex;
    justify-content: center;
    align-items: center;
}

.products .card .card-thumbnail {
    border-radius: 12px;

    position: relative;
}

.products .card .card-thumbnail .tags {
    position: absolute;
    top: 16px;
    left: 16px;

    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card .card-thumbnail .tags .tag-new {
    width: 80px;
    height: 32px;
    border-radius: 16px;
    background-color: #2e8b57;

    display: flex;
    align-items: center;
    justify-content: center;
}

.card-thumbnail .tags .tag-price {
    width: 80px;
    height: 32px;
    border-radius: 16px;
    background-color: #0c0c0c;

    display: flex;
    align-items: center;
    justify-content: center;

}

.tags .tag-new p,
.tags .tag-price p {
    color: #fff;

}

.card .card-thumbnail .product-img {
    width: 380px;
    border-radius: 24px;
}

.card .add {
    width: 380px;
    height: 54px;
    margin-top: 24px;
    border-radius: 12px;
    border: 0;

    background-color: #0c0c0c;

    color: #fff;
}

.card .category {
    font-size: 16px;
    color: #747474;
    text-transform: uppercase;
}

.card .price-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price-container .price {
    font-size: 18px;
}

.card .name {
    margin: 24px 0;
}

.card .old {
    text-decoration: line-through;
    color: #747474;
}


.container {
    display: flex;
    align-items: center;

    gap: 24px;
    flex-wrap: wrap;
    margin-top: 32px;
}



.btn-container {
    display: flex;
    justify-content: center;


    width: 100%;
    margin-top: 48px;
    font-size: 18px;


}

.btn-container .btn-carregar {
    padding: 14px 33px;
    background-color: var(--btn);
    border-radius: 33px;
}

@media (max-width:768px) {


    .section-inicio {
        padding: 80px 24px;
    }

    .container-buttom {
        flex-wrap: wrap;
    }

    .card .card-thumbnail .product-img {
        width: 100%;
    }

    .card .add {
        width: 100%;
    }
}